.header {
    margin: 0 auto;
    padding: 45px 0 41px;
    box-sizing: border-box;
    max-width: 880px;
    width: 100%;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1080px) {
    .header {
        padding: 40px 90px 41px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 28px 27px 31px;
    }
}