.header__link {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
}

.header__link:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 510px) {
    .header__link {
        font-size: 14px;
        line-height: 17px
    }
}