.header__email {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0 24px 0 0;
}

@media screen and (max-width: 510px) {
    .header__email {
        font-size: 14px;
        line-height: 17px;
        margin: 0 16px 0 0;
    }
}