.pop-up__input {
    padding: 10px 0;
    margin: 0 0 20px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    width: 100%;
}