.photo-card__bottom {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    min-height: 80px;
    box-sizing: border-box;
}