.profile__description {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (max-width: 1080px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        max-width: 230px;
    }
}